# Archivos temporales o de entorno
.env
.DS_Store

# Ignorar dependencias locales
node_modules/
npm-debug.log

# Ignorar archivos de configuración del editor
.vscode/
.DS_Store

# Salida de Python
__pycache__/
*.pyc

# Datos intermedios
air_data_csv/
exploracion_csvs/